<h1>Welcome to My Blog!</h1>

<h2>My Daily Adventures</h2>
<ul>
  <li class="activities">Things I do:</li>
  <h3> Activities</h3>
   <p>Every day, I engage in various activities that bring joy and fulfillment to my life. From exploring new hobbies to spending time in nature, here are some of the things I do:</p>
     <ul>
    <li>Hiking</li>
    <li>Painting </li>
    <li>Playing music</li>
    <li>Writing</li>
  </ul>
  <li class="food">Foods I love:</li>
    <p>Good food has always been a passion of mine. I enjoy trying different cuisines and experimenting in the kitchen. Here are some of my all-time favorite foods:</p>
  <ul>
    <li>Pizza</li>
    <li>Sushi </li>
    <li>Anything Chocolate</li>
    <li>Chinese food</li>
  </ul>
  <li class="travels">Where I have gone:</li>
  <p>Traveling allows me to explore new cultures and broaden my horizons. Over the years, I've been fortunate to visit several incredible destinations, including:</p>
  <ul>
    <li>France</li>
    <li>Egypt</li>
    <li>Alaska</li>
    <li>Japan</li>
  </ul>
  <li class="bucket list">Things I want to try:</li>
   <p>Life is full of exciting possibilities, and I have a bucket list of things I hope to experience one day. Here are a few items on my list:</p>
  <ul>
    <li>Skydiving</li>
    <li>Learning to play the piano</li>
    <li>Travel more</li>
    <li>Writing a novel</li>
  </ul>
  <li class="other">Other fun things:</li>
   <p>In addition to the above, there are many other activities and hobbies that bring me joy. Some of these include:</p>
  <ul>
    <li>Photography</li>
    <li>Gardening</li>
    <li>Live events</li>
    <li>Hanging out of my dogs</li>
  </ul>
</ul>