<h1>Welcome to My Blog!</h1>

{{#if posts}}
  <ul>
    {{#each posts}}
      <li>
        <h2><a href="/blog/{{id}}">{{title}}</a></h2>
        <p>{{summary}}</p>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No blog posts available.</p>
{{/if}}


