<h1>Welcome to my World!</h1>
{{#each blogs as |blog|}}


{{/each}}

<h2>What I have to say:</h2>
<ul>
  <li class="midlaner">Daily Events</li>
  <li class="midlaner">Fav Foods</li>
  <li class="toplaner">Bucket list</li>
  <li class="midlaner">Old Haunts</li>
  <li class="toplaner">Family and Friends</li>
</ul>

