<nav class="nav">
    <ul class="nav-tabs">
        <li class="{{#if active_apple}}active{{/if}}"><a href="#">Apple</a></li>
        <li class="{{#if active_orange}}active{{/if}}"><a href="#">Orange</a></li>
        <li class="{{#if active_mango}}active{{/if}}"><a href="#">Mango</a></li>
        <li class="{{#if active_pineapple}}active{{/if}}"><a href="#">Pineapple</a></li>
    </ul>
</nav>


<script src="../public/js/script.js"></script>

