{{!-- <script id="p" type="text/x-handlebars">
    <nav>
        <ul class="nav nav-tabs">
            <li class="{{#if active_apple}}active{{/if}}"><a href="{{id}}">Apple</a></li>
            <li class="{{#if active_orange}}active{{/if}}"><a href="{{id}}">Orange</a></li>
            <li class="{{#if active_mango}}active{{/if}}"><a href="{{id}}">Mango</a></li>
            <li class="{{#if active_pineapple}}active{{/if}}"><a href="{{id}}">Pineapple</a></li>
        </ul>
    </nav>
</script> --}}

